@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  font-family: Roboto, sans-serif;
  background-color: #1f2937;
  color: white;
  display: flex;
  flex-direction: column;
}

nav,
main,
section,
footer {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

h1, .hero-logo, .hero-content-container p, .hero-content-container button{
  color: #F9FAF8;
  
}

h1{
  font-size: 48px;
  font-weight: 900;
}

h2{
  font-size: 36px;
  font-weight: 900;
  padding-block: 50px;
}

button{
  cursor: pointer;
}

#info{
  background-color: #FFFFFF;
  color: #1f2937;
}

#testimonial{
  background-color: #E5E7EB;
  color: #1f2937;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: clamp(1rem, 5vw, 10rem);
}


.hero-logo{
  font-size: 24px;
}

.hero-content-container p{
  font-size: 18px;
}

.hero-content-container button {
background-color: #3882F6;
padding: 8px 35px;
font-weight: bold;
font-size: 1rem;
border: 0;
border-radius: 8px;
margin-top: 10px;
}

.nav-content, .hero-content{
display: flex;
justify-content: space-between;
width: 100%;
align-items: center;
}

.nav-content ul{
  gap: 20px;
  padding-block: 20px;
}

.hero-content{
  padding-block: 130px;
  display: flex;
  gap: clamp(1rem, 4vw, 3rem);
}

.hero-content-container,
.hero-image {
  flex: 1;
  min-width: 0;
}

.hero-image{
  /* max-width: 500px; */
  background-color: #b8b8b8;
  /* width: 100%; */
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 130px;
}

.img-content-container{
  display: flex;
  gap: 50px;
}

.img-content-container div{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 170px;
  text-align: center;
  gap: 10px;
  font-size: 18px;
}

.img-container{
  height: 160px;
  width: 160px;
  border: 4px solid #3882F6;
  border-radius: 15px;
}

.testimonial-content{
  padding-block: 130px;
}

.quote{
  font-size: 36px;
  font-weight: 300;
}

.testimonial-content p:last-child{
  font-size: 24px;
  font-weight: 700;
  text-align: end;
}

#signup{
  background-color: #FFFFFF;
  /* color: #1f2937; */
}
.signup-content{
  padding-block: 130px;
}

.signup-container{
  background-color: #3882F6;
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
  border-radius: 10px;
}

.signup-container button{
background-color: #3882F6;
padding: 8px 35px;
font-weight: bold;
font-size: 1rem;
border: 2px solid white;
border-radius: 8px;
color: white;

}

h3{
  font-size: 24px;
}

